@inherits LayoutComponentBase
@inject IJSRuntime _JSRuntime

@if (preloader)
{
    <!-- Preloader -->
    <div id="preloader">
        <div class="outer">
            <!-- Google Chrome -->
            <div class="infinityChrome">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- Safari and others -->
            <div class="infinity">
                <div>
                    <span></span>
                </div>
                <div>
                    <span></span>
                </div>
                <div>
                    <span></span>
                </div>
            </div>
            <!-- Stuff -->
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo-outer">
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                        <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
}
@Body

@code {
    bool preloader = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            preloader = false;
            var lst = new string[]
            {
                "js/jquery-1.12.3.min.js",
                "js/jquery.easing.min.js",
                "js/jquery.waypoints.min.js",
                "js/jquery.counterup.min.js",
                "js/popper.min.js",
                "js/bootstrap.min.js",
                "js/isotope.pkgd.min.js",
                "js/infinite-scroll.min.js",
                "js/imagesloaded.pkgd.min.js",
                "js/slick.min.js",
                "js/contact.js",
                "js/validator.js",
                "js/wow.min.js",
                "js/morphext.min.js",
                "js/parallax.min.js",
                "js/jquery.magnific-popup.min.js",
                "js/custom.js",
            }.ToList();
            await _JSRuntime.InvokeVoidAsync("addScript", lst);
            StateHasChanged();
        }
    }
}